<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>%date{MM/dd HH:mm:ss:SSSSSS} %-5level[%.15thread] %logger{100} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="io.jokester" level="debug"/>
    <logger name="slick" level="info"/>
    <logger name="com.zaxxer.hikari" level="info"/>
    <logger name="scalikejdbc" level="info"/>
    <logger name="org.flywaydb" level="info"/>
    <logger name="akka" level="info"/>

</configuration>